input[type=text] {
  /* background-color: lightpink; */
  border: none;
  border-bottom: 1px solid black;
}

input[type=number] {
  background-color: lightcyan;
  border: none;
}

select {
  border: none;
  border-bottom: 1px solid black;
}

*:focus {
  outline: none;
}